@import url("https://fonts.googleapis.com/css?family=Play|Roboto");

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Play", sans-serif;
  font-size: 30px;
  text-align: center;
}

.footer {
  margin: 10px 0;
  font-size: 0.88em;
}

.save-button, .edit-button, .cancel-button {
  cursor: pointer;
  color: rgb(0, 183, 255);
}

.delete-button {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}
